---
extends: default

ignore: ./ansible/playbooks/ansible-*.yaml

rules:
  document-start:
    present: true

  line-length:
    max: 180
    level: warning

  indentation:
    spaces: 2
    indent-sequences: consistent

  truthy: disable
