---
api:
  dashboard: true
  debug: true
log:
  level: DEBUG
accessLog: {} #musy have, or won't get logs by only defining "level: Debug" 
entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /config.yml
certificatesResolvers:
  cloudflare:
    acme:
      email: c.f@elysiummachines.com
      storage: acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      #caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: cloudflare
        #disablePropagationCheck: true # if issues pulling certificates, disables the need to wait for propagation of the TXT record
        #delayBeforeCheck: 60s # ensure the TXT record is ready before verification is attempted 
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
