# Ansible Aliases
alias Ansible='source /ansible/venv/bin/activate'
alias pinga='ansible all -m ping'
alias playa='ansible-playbook'
alias listhostsa='ansible all --list-hosts'
alias playbookv='ansible-playbook -v'
alias checkinva='ansible-inventory --list -y'
