---
services:
  kali:
    image: lscr.io/linuxserver/kali-linux:latest
    container_name: kali-linux
    hostname: KALI01
    ports:
      - 3004:3004
      - 3002:3001
      # - 5901:5901
    volumes:
      # - /compose/kali/opt:/opt
      - /compose/kali/data:/config
      # - /compose/kali/home:/home/echo
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /compose/kali/etc/hosts:/etc/hosts
      # - /compose/kali/etc/group:/etc/group:ro
      # - /compose/kali/etc/passwd:/etc/passwd:ro
      # - /compose/kali/etc/shadow:/etc/shadow:ro
      - /compose/kali/var/lib/apt:/var/lib/apt
      # - /compose/kali/etc/gshadow:/etc/gshadow:ro
      - /compose/kali/var/lib/dpkg:/var/lib/dpkg
      - /compose/kali/etc/hostname:/etc/hostname
      # - /compose/kali/var/cache/apt:/var/cache/apt
      - /compose/kali/etc/resolv.conf:/etc/resolv.conf
      # - /compose/kali/data/config/.htpasswd:/etc/.htpasswd
      - /compose/kali/data/ssl/cert.pem:/etc/nginx/cert.pem
      - /compose/kali/data/ssl/cert.key:/etc/nginx/cert.key
    devices:
      - /dev/dri:/dev/dri
      - /dev/input:/dev/input
    shm_size: "1gb"
    security_opt:
      - seccomp=unconfined
      - no-new-privileges=false
    environment:
      # - KALI_DASHBOARD_CREDENTIALS=${KALI_DASHBOARD_CREDENTIALS}
      - TZ=Canada/Central
      - TITLE=Gizmo_Kali
      - PUID=1000
      - PGID=1000
      # - SUBFOLDER=/kali
    deploy:
      resources:
        limits:
          memory: 3g
          cpus: "3"
    healthcheck:
      test:
        - CMD-SHELL
        - curl --fail http://localhost:3001 || exit 0
      interval: 40s
      timeout: 10s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    networks:
      - kali_default
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "3"

networks:
  kali_default:
    external: true
