---
services:
  sonarqube:
    image: sonarqube:26.2.0.119303-community
    container_name: sonarqube
    ports:
      - 9000:9000
    volumes:
      - /compose/sonarqube/data:/opt/sonarqube/data
      - /compose/sonarqube/logs:/opt/sonarqube/logs
      - /compose/sonarqube/extensions:/opt/sonarqube/extensions
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Calgary
    deploy:
      resources:
        limits:
          memory: 3g
          cpus: "2"
    healthcheck:
      test:
        - CMD-SHELL
        - curl --fail http://localhost:9000/api/system/status || exit 1
      interval: 40s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "3"
