# Git Aliases
alias gst='git status'
alias gco='git checkout'
alias gaa='git add .'
alias gcm='git commit -m'
alias gpl='git pull --rebase'
alias gphm='git push origin main'
alias gplm='git pull --rebase origin main'
