# Admin Utility Aliases
alias rmd='sudo rm -rf'
alias dms='sudo ./scripts/clean_memory.sh'
alias netstat='netstat -tuln'
alias cms='free -m -l -t'
alias reboot='sudo reboot'
alias update='sudo apt update && sudo apt upgrade -y'
alias clean='sudo apt autoremove -y && sudo apt autoclean -y'
